<div style="margin-top: 50px;">
    <strong>現在のプルリク隊長は</strong>
    <h1><span class="label label-important">正</span> <%= @sei.name %></h1>
    <h1><span class="label label-important">副</span> <%= @fuku.name %></h1>
    <div class="alert">
      <strong>From: </strong> <%= @updated_at.strftime("%Y/%m/%d %A")%>
    </div>
</div>
